.home__bg {
  background-image: url(https://images.unsplash.com/photo-1699555670517-31ff09b2d896?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  height: 92vh;
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.home-message-icon {
  margin-left: 10px;
  display: inline-block;
}
